In [16]:
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import pandas as pd

In [17]:
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [18]:
test.head()

    height     weight   age
0  117.983  24.097075  13.0
1  144.145  33.906002  34.0
2   92.710  12.076887   5.0
3  147.955  41.276872  17.0
4  155.575  39.717650  74.0

In [19]:
train.head()

    height     weight   age  male
0  151.765  47.825606  63.0     1
1  139.700  36.485807  63.0     0
2  136.525  31.864838  65.0     0
3  156.845  53.041915  41.0     1
4  145.415  41.276872  51.0     0

In [20]:
x_train = train[['height','weight','age']]
y_train = np.ravel(train[['male']])

In [21]:
def run_model(model, regressor = 0):
    clf = model
    clf = clf.fit(x_train,y_train)
    prediction = clf.predict(test)
    return prediction

In [22]:
clf_classifier  = tree.DecisionTreeClassifier()
clf_regressor  = tree.DecisionTreeRegressor()
clf_rnd_forest  = RandomForestClassifier(n_estimators=10)

In [23]:
prediction_classifier = run_model(clf_classifier)
prediction_regressor = run_model(clf_regressor)
prediction_rnd_forest = run_model(clf_rnd_forest)

In [24]:
results = pd.read_csv('results.csv')
results.head()

    height     weight   age  male
0  117.983  24.097075  13.0     0
1  144.145  33.906002  34.0     0
2   92.710  12.076887   5.0     0
3  147.955  41.276872  17.0     0
4  155.575  39.717650  74.0     1

In [25]:
results['classifier']=prediction_classifier
results['regressor'] = prediction_regressor
results['rnd_forest'] = prediction_rnd_forest
results.head()

    height     weight   age  male  classifier  regressor  rnd_forest
0  117.983  24.097075  13.0     0           0        0.0           0
1  144.145  33.906002  34.0     0           0        0.0           0
2   92.710  12.076887   5.0     0           0        0.0           0
3  147.955  41.276872  17.0     0           0        0.0           0
4  155.575  39.717650  74.0     1           0        0.0           0

In [26]:
accuracy_classifier = results['male'].corr(results['classifier'])
accuracy_regressor = results['male'].corr(results['regressor'])
accuracy_rnd_forest = results['male'].corr(results['rnd_forest'])

In [27]:
print(accuracy_classifier)

0.3038890371402056

In [28]:
print(accuracy_regressor)

0.29340310856580903

In [29]:
print(accuracy_rnd_forest)

0.3656184762858401